body {
	/* background: #b8b3b3; */
	/* color: #ffffff; */
}

.movie-app > .row {
	overflow-x: auto;
	/* flex-wrap: nowrap; */
	/* width: 22%; */
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.row>*{
	width: auto;
} 
.add{
	color: rgb(255, 254, 254);
}
.image-container:hover .overlay{
	width: 92%;
}
.form-control{
	width: 550px;
	margin-right: 100px;
	padding: 0.4rem 12.75rem;
}